<div class="book-card">
    <div class="book-content">

        <div class="book-header">
            <h3 class="book-title">{{ book.id }} - {{ book.title }}</h3>
            <span class="favorite-icon">
                {{ book.isFavorite ? '❤️' : '🤍' }}
            </span>
        </div>

        <div class="book-author">Автор: {{ book.author }}</div>

        <div class="book-category">Категория: {{ book.categoryId }}</div>

        <div class="book-description">
            <p>{{ book.description }}</p>
        </div>
    </div>

    <div class="book-actions">
        <app-primary-button buttonText="Edit"></app-primary-button>
        <app-primary-button 
            [buttonText]="book.isFavorite ? 'Remove from Favorite' : 'Add to Favorite'"
            (click)="toggleFavorite()">
        </app-primary-button>
    </div>

</div>