<div class="book-card">
    <div class="book-content">

        <div class="book-header">
            <h3 class="book-title">{{ book.id }} - {{ book.title }}</h3>
            <span *ngIf="book.isFavorite;else notFavorite" class="favorite-icon" (click)="toggleFavorite()">
                ❤️
            </span>
            <ng-template #notFavorite class="favorite-icon" (click)="toggleFavorite()">
                <span class="favorite-icon" (click)="toggleFavorite()">
                    🤍
                </span>
            </ng-template>
        </div>

        <div class="book-author">Автор: {{ book.author }}</div>

        <div class="book-category">Категория: {{ book.categoryId }}</div>

        <div class="book-description">
            <p>{{ book.description }}</p>
        </div>
    </div>

    <div class="book-actions">
        <app-primary-button buttonText="Edit"></app-primary-button>
        <app-primary-button buttonText="Remove"></app-primary-button>
    </div>

</div>