 
@mixin btn-primary{
    background-color: var(--primary-color);
    border: none;
    color: white; 
    padding: 5px 30px;
    border-radius: 5px; 
} 

@mixin form-input{ 
    color: var(--text-primary); 
    padding: 5px 30px; 
    border: none; 
    border-radius: 5px;   
}
 