<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-card>
      <mat-card-title>Авторизация</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Введите ваш email">
          <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
            Некорректный email
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Введите ваш пароль">
          <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
            Пароль должен быть не менее 6 символов
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Войти</button>
      </mat-card-actions>
    </mat-card>
  </form>