@use "variables" as var;
@use "mixins" as mix;

.main {
    @include mix.center-Y;
    flex-direction: column; 
    min-height: 100%;

    position: relative;
}

.header {
    width: 100%;
    @include mix.center-X;
    padding: 5px;
    background-color: white; 
    border: 1px solid rgb(198, 195, 195); 
    border-top: 0;
    
    position: sticky; 
    top: 0; 
    z-index: 1000;
}

.body {
    flex: 1;
    width: 100%;  
    @include mix.center-X;

    .body-container{ 
        border: 3px solid black; 
        width: var.$width-container;   
    }
}
   
.footer {
    height: 20px; 
    width: 100%; 

    @include mix.center-X;

    .footer-container{
        width: var.$width-container;
        height: 100%;
        background-color: red;
    }
}

