<div *ngIf="mode !== 'delete';else delete">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="create-category-modal-form">
        <mat-dialog-content>

            <mat-label>{{title}}</mat-label>

            <div *ngIf="mode === 'add';else edit">
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id" value="categoryModel.id" type="text"
                        placeholder="Введите ваш ID">
                </mat-form-field>
            </div>
            <ng-template #edit>
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id" value="categoryModel.id" type="text"
                        placeholder="Введите ваш ID" readonly>
                </mat-form-field>
            </ng-template>


            <mat-form-field>
                <mat-label>Название</mat-label>
                <input matInput formControlName="title" type="text" placeholder="Введите название">
                <span class="validation-error"
                    *ngIf="categoryForm.get('title')?.invalid && categoryForm.get('title')?.touched">
                    Поле title обязательно для заполнения.
                </span>
            </mat-form-field>


        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Отмена</button>
            <button mat-button mat-dialog-close type="submit">Сохранить</button>
        </mat-dialog-actions>
    </form>
</div>

<ng-template #delete class="delete-form">
    <mat-dialog-content>

        <mat-label>{{title}}</mat-label>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Отмена</button>
        <button mat-button mat-dialog-close (click)="onDelete()">Удалить</button>
    </mat-dialog-actions>
</ng-template>