<div class="navbar">

    <div class="navbar-routes">
        <img class="navbar-routes-pic" src="/BookHaven.png">
        <span class="navbar-routes-title" routerLink="/">Book Haven</span>
        <ul> 
            <li (click)="navigateTo('/home')">Home page</li> 
            <li>Categories</li>
        </ul>
        <app-primary-button buttonText="Add New"></app-primary-button>
    </div>


    <div *ngIf="!isLoggedIn" class="navbar-auth">
        <app-primary-button buttonText="Sign In" routerLink="/login"></app-primary-button>
        <app-primary-button buttonText="Sign Up" routerLink="/registration"></app-primary-button>
    </div>

    <div *ngIf="isLoggedIn" class="navbar-auth">
        <div routerLink="/profile" class="profile">
            <span>Hello, </span>
            <img class="navbar-routes-pic user" src="/user.png">
            <span class="userName">UserName</span>
        </div>

        <button (click)="logout()"><img class="navbar-routes-pic logout" src="/exit.png"></button>
        <button (click)="logout()"><span class="navbar-routes-logout">Log out</span></button>
    </div> 
</div>